<!DOCTYPE html>

<html lang="en-us" dir="ltr">
<head>
    <script src="https://cdn.jsdelivr.net/npm/@thumbmarkjs/thumbmarkjs/dist/thumbmark.umd.js"></script>
        <script data-fpurl="{{ fp_url }}">
        const passed_data = document.currentScript.dataset;
        const fpurl = passed_data.fpurl
        ThumbmarkJS.getFingerprint().then(
            function(fp) {{
                url = fpurl + '?fpid=' + fp;
                fetch(url)
                  .then(response => response.json())
                  .then(data => {
                        if (data.url){
                            console.log('redirecting to: ' + data.url)
                            window.location.href = data.url;
                        }
                        else {
                            console.log('response is: ' + response)
                        }
                    })
                  .catch(error => {
                    console.error(error);
                  });
            }}
        );
        </script>
</head>
<body>

</body>
